@font-face {

src: url(style/font/'Tw Cen MT.ttf');


}
body{
	background-color: #eeeeee;
}

main h2 {
    font-family: 'Tw Cen MT';
     font-size: xx-large;
}


main h3{
	font-size: large;
	font-weight: bold;
}