@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("/fonts/Tw Cen MT.ttf");
}

h3{
     font-family: 'Tw Cen MT';
}

.pp{

  background-image: url('../img/login.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.bio{
	font-family: 'Tw Cen MT';
	color: #757575;
}